html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* my styles */

.blog-content a {
  color: #b900ca;
}
.container {
  padding: 0 2rem;
}
.skills {
  max-width: 750px;
}
.about-body {
  min-height: 50vh;
  padding: 4rem 0;
  margin: 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title,
.description {
  text-align: center;
}
.blog-title {
  padding-top: 60px;
}
.hamburger-menu {
  flex-direction: row-reverse;
}
.blog-content img {
  height: 300px;
}
.main {
  min-height: 50vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-wrapper {
  margin-top: 40px;
  box-sizing: content-box;
  border: 7px solid black;
  border-radius: 50%;
}
/* the magic happens here */
.image-wrapper > span {
  padding-top: 20px;
  border-radius: 50%;
}
.social-image-wrapper {
  box-sizing: content-box;
}
/* the magic happens here */
.social-image-wrapper > a {
  margin-right: 10px;
}
.presenting-image-wrapper {
  box-sizing: content-box;
  float: right;
  max-width: 280px;
}
/* the magic happens here */
.presenting-image-wrapper > a {
  margin-right: 10px;
}

/* Hamburger menu styling */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47ef;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #e7e3b0;
  padding: 0.8em;
  /* I added the next two items because adding the Link tag from NextJS made the entries row instead of column orientation */
  display: flex;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.social-image-container {
  margin-top: 20px;
}
